
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries/Changxing.xml
.idea/dataSources/148930ba-624d-4176-bb57-e9531041d960.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python-Data-mining-Tutorial.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/148930ba-624d-4176-bb57-e9531041d960/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/dataSources/b8a09730-c20f-4364-ad64-61fea5a3bb2a.xml
.idea/dataSources/b8a09730-c20f-4364-ad64-61fea5a3bb2a/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
.idea/.name
.idea/Data-mining-HandBook.iml
.idea/dataSources/b8a09730-c20f-4364-ad64-61fea5a3bb2a/storage_v2/_src_/schema/learn_cjj.aDy1XA.meta
.idea/dataSources/b8a09730-c20f-4364-ad64-61fea5a3bb2a/storage_v2/_src_/schema/learn_cjj.aDy1XA.zip
.idea/inspectionProfiles/Project_Default.xml
*.pyc
